<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BookWorks</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
        <script src="https://kit.fontawesome.com/bc519c4149.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <header>
            <%# <%= render 'layouts/nav' %>
        </header>

    <div class="app-container">


    <nav class="navbar navbar-dark bg-dark">

        <div class="top-bar-title">
            <div class="topbar-responsive-logo">
                <strong><i class="fas fa-book-reader"></i>&emsp;BOOKWORMS</strong>
            </div>
        </div>

        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item btn btn-outline-light btn-lg">
                <%= link_to 'LOGIN', login_path, method: 'get' %>
            </li>
                &emsp;

            <li class="nav-item btn btn-outline-light btn-lg">
                <%= link_to 'SIGNUP', signup_path, method: 'get' %>
            </li>
            &emsp;

        <li class="nav-item btn btn-outline-light btn-lg">
            <%= link_to 'HOME', home_path, method: 'get' %>

            
            <!-- <a class="nav-link" href="#">Link</a> -->
        </li>

    </ul>
</nav>


        

        <div>
            <% if flash[:message] %>
                <%= flash[:message] %>
            <% end %>
            <%= @error %>
        </div>

        <main role="main">
            <%= content_for?(:content) ? yield(:content) : yield %>
        </main>

        <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
            <div class="container justify-content-end">

                <div class="bottombar-responsive-logo">
                <strong><i class="fas fa-book-reader"></i>&emsp;&copy; 2020 Fans Top Sites</strong></div>
            </div>
        </nav>


    </body>
</html>


